  <div class="fixed-bottom">

            <footer class="bg-light text-center text-dark">
                    Juan Obano - {{getAnio}};
                <div class="container  p-1 pb-0">
                    <!-- Seccion: Social media -->
                    <section class="mb-0">
                        <!-- Facebook -->
                        <a class="btn btn-floating m-1" href="https://www.google.com/" role="button" target="_BLANK">
                            <img src="assets/img/facebook.png" height="30px" />
                        </a>

                        <!-- Twitter -->
                        <a class="btn btn-floating m-1" href="https://twitter.com/?lang=es" role="button" target="_BLANK">
                            <img src="assets/img/twitter.png" height="30px" />
                        </a>

                        <!-- Google -->
                        <a class="btn btn-floating m-1" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.4456749430759!2d-78.53798877077092!3d-0.24210949998895637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59913f420c2d9%3A0x7e5fc3c942e502c5!2sLiga%20Barrial%20Los%20Libertadores%20FLQ!5e0!3m2!1ses!2sec!4v1634956167730!5m2!1ses!2sec"
                            role="button" target="_BLANK">
                            <img src="assets/img/google-maps.png" alt="icono_google" height="30px">
                        </a>

                        <!-- Instagram -->
                        <a class="btn btn-floating m-1" href="https://www.instagram.com/?hl=es" role="button" target="_BLANK">
                            <img src="assets/img/instagram.png" height="30px" />
                        </a>

                        <!-- Github -->
                        <a class="btn btn-floating m-1" href="https://github.com/JFernandoObando" role="button" target="_BLANK">
                            <img src="assets/img/github.png" height="30px" />
                        </a>
                    </section>
                </div>


                <!-- Copyright -->
                <div class="text-center p-3">
                    © 2020 Copyright:
                    <a class="refe" href="#">JuanObando</a>
                </div>
                <!-- Copyright -->
            </footer>
        </div>
    </div>
</body>

<script src="/public/assets/js/bootstrap.bundle.min.js"></script>

</html>