{{> header }}
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="home.hbs">Home </a>
                    <a class="nav-item nav-link" href="#">Acerca de</a>
                </div>
            </div>
        </div>

    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Acerca de</h1>
            <p class="lead">Bienvenido</p>
            <hr class="my-4">
            <p>Esta página es creada por Juan Obando un desarrollador Universitario, el programa esta programado con nodejs</p>

        </div>

{{> footer }}


